
.logo-container {
  display: flex;
  align-items:center;
  gap: 10px;
  cursor: pointer;
}


.logo-image {
  width: 36px;
  height: 36px;


  filter: invert(39%)
          sepia(26%)
          saturate(750%)
          hue-rotate(210deg)
          brightness(95%)
          contrast(92%);

  transition: transform 0.4s ease, filter 0.4s ease;
}


.logo-text {
  font-size: 18px;
  font-weight: 700;
  color: #7b73d1;
  transition: transform 0.4s ease, color 0.4s ease;
}


.logo-container:hover .logo-image {
  transform: rotate(-5deg) scale(1.08);
}

.logo-container:hover .logo-text {
  transform: translateX(2px);
  color: #8e85e6;
}
